.enter {
  opacity: .01;
  transition: opacity .3s ease-in;

  &.enter-active {
    opacity: 1;
  }
}

.leave {
  opacity: 1;
  transition: opacity .3s ease-in;

  &.leave-active {
    opacity: .01;
  }
}

.appear {
  opacity: .01;
  transition: opacity .3s ease-in;

  &.appear-active {
    opacity: 1;
  }
}
